*, body, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--clr-grey-1);
  /* line-height: 1.5rem; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  color: #617d98;
}

h2 {
  color: yellow;
}

ul {
  list-style-type: none;
}

@media screen and (min-width:800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  h1, h2, h4, h3 {
    line-height: 1;
  }
}

.nav-links {
  display: none;
}

.sign-in {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
  margin-top: 1.3rem;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.hero-center {
  width: 90vw;
  max-width: 1190px;
  display: grid;
  align-items: center;
}

.hero-info {
  margin-top: 4rem;
}

.hero-info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.hero-info p {
  max-width: 35em;
  line-height: 1.35;
  margin-bottom: 1rem;
}

.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(./Components/images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-images {
  display: none;
}

/* 

NAVBAR MEDIA QUERY

*/

@media screen and (min-width:800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .sign-in {
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    color: white;
  }
}

/* HERO MEDIA QUERY */

@media screen and (min-width:800px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
  }
  .hero-info h1 {
    font-size: 3rem;
    color: #102a42;
    letter-spacing: 0.1rem;
  }
  .hero-info p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  .hero-images {
    display: block;
    justify-self: center;
  }
  .phone-img {
    width: 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    /* padding-bottom: 12vh; */
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.4rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 15rem;
    height: 32rem;
  }
}

@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
  .phone-img {
    width: 17rem;
  }
}

.btn {
  border: 1px solid black;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  color: white;
  background: #222;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.4s linear;
  border: none;
}

.btn:hover {
  background: #617d98;
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: all 0.4s linear;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}

.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}

.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: 1170px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 4rem 2rem;
}

.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #617d98;
}

.sidebar article {
  margin-bottom: 2rem;
}

.sidebar-sublinks {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  row-gap: 0.25rem;
}

.sidebar-sublinks a {
  /* display: block; */
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: #617d98;
  text-decoration: none;
  margin-bottom: 0.4rem;
}

.sidebar-links h4 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #102a42;
}

.sidebar-sublinks svg {
  margin-right: 30px;
}

@media screen and (min-width:800px) {
  .sidebar-wrapper {
    display: none;
  }
}

/* Submenu */

.submenu {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: white;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  /* transition: all 0.5s linear; */
  border-radius: 0.25rem;
}

.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-bottom: 5px solid white;
  border-right: 5px solid transparent;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
}

.submenu h4 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.submenu-center a {
  color: #617d98;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 6rem;
}

.submenu-center svg {
  margin-right: 5px;
}